./ocnet/Builds/VisualStudio2022/x64
./ocnet/Builds/VisualStudio2022/.vs
.desktop.ini
./ocnet/.vs
./ocnet/desktop.ini
./vs
/.vs
/ocnet/.vs
/ocnet/desktop.ini
/ocnet/Builds/VisualStudio2022/.vs/ocnet
/ocnet/Builds/VisualStudio2022/x64/Debug
